{{>main/header}}
<div class="main_body_category">
    <ul>
        <li><button><a href="">신상품</a></button></li>
        <li><button><a href="">베스트 상품</a></button></li>
        <li><button><a href="">간편식</a></button></li>
        <li><button><a href="">냉동식품</a></button></li>
        <li><button><a href="">냉장식품</a></button></li>
        <li><button><a href="">실온식품</a></button></li>
    </ul>
</div>
<div class="main_body_advertisement">
    <img src="">
</div>
<div class="main_body_sale">
    <h1>지금 SALE 중!</h1>
    <a>1+1</a>
    <a>2+1</a>
    <a>브랜드행사</a>
</div>
<div class="main_body_article">
    <div class="main_body_11">
        <ul>
            <li class="11_article">
                <img src="">
            </li>
        </ul>
    </div>
    <div class="main_body_21"></div>
    <div class="main_body_brand"></div>
</div>
{{>main/footer}}