<!--loginHeader 와 연결-->
{{>login/loginHeader}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Nickname</th>
        <th scope="col">userId</th>
        <th scope="col">userPassword</th>
        <th scope="col">createdDate</th>

    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#usersList}}
    <tr>
        <th>{{id}}</th>
        <th>{{nickname}}</th>
        <th>{{userId}}</th>
        <th>{{userPassword}}</th>
        <th>{{createdDate}}</th>
        <th><button type="button"><a href="/login/membership/{{id}}/edit">수정</a></button></th>
        <th><button type="button"><a href="/login/membershipList/{{id}}/delete">삭제</a></button></th>
    </tr>
    {{/usersList}}
    </tbody>
</table>
<button type="button"><a href="/login">로그인</a></button>
<!--loginFooter 와 연결-->
{{>login/loginFooter}}